.container {
   width: 95%;
   margin: 2.5%;
}

.card {
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  max-height: 144px;
}

div {
    display: block;
}


.left {
   padding: 0 20px;
}
.left .description {
   margin: 30px 0;
   padding: 0 10px;
}

.right {
   border-left: 1px solid #dfe1e8;
}
.right > div {
   border-top: 1px solid #dfe1e8;
   padding: 10px;
}

